.become-member-area {
	.section-title {
		max-width: 850px;
	}
	.container-fluid {
		max-width: 100%;
	}
}
.become-member-content {
	max-width: 600px;
	margin-left: 60px;

	.top-title {
		color: var(--mainColor);
		display: inline-block;
		margin-bottom: 10px;
		font: {
			size: 16px;
			weight: 600;
		};
	}
	h2 {
		font-size: 40px;
		margin-bottom: 25px;
	}
	.some-bold {
		font-weight: 600;
	}
	.default-btn {
		margin-top: 20px;
	}
}
.become-member-img {
	height: 100%;
	position: relative;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	};
	.trusted {
		background-color: rgba(48, 51, 56, 0.9);
		padding: 30px;
		text-align: center;
		display: inline-block;
		max-width: 320px;
		position: absolute;
		bottom: 30px;
		right: -30px;

		span {
			line-height: 1;
			display: inline-block;
			margin-bottom: 15px;
			color: var(--whiteColor);
			font: {
				size: 50px;
				family: var(--headingFontFamily);
			};
		}
		h3 {
			font-size: 18px;
			color: var(--whiteColor);
		}
		p {
			color: var(--whiteColor);
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .become-member-area {
        padding-top: 50px;

		.col-lg-6.p-0 {
			padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
			padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
		}
	}
	.become-member-img {
        height: 400px;

		.trusted {
			margin: auto;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
	.become-member-content {
		text-align: center;
		max-width: 100%;
        margin-left: 0;

		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		.default-btn {
			margin-top: 15px;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .become-member-area {
		.container-fluid {
			max-width: 540px;
		}
	}

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .become-member-area {
        padding-top: 50px;

		.container-fluid {
			max-width: 720px;
		}
		.col-lg-6.p-0 {
			padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
			padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
		}
	}
	.become-member-img {
        height: 400px;

		.trusted {
			margin: auto;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
	.become-member-content {
		text-align: center;
		max-width: 100%;
        margin-left: 0;

		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		.default-btn {
			margin-top: 15px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .become-member-content {
		margin-left: 0;
	}
	.become-member-img {
		.trusted {
			bottom: 30px;
			right: 30px;
		}
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}
