.services-area {
	background-color: #f9fafb;
}
.single-services-box {
	border: 1px dashed var(--mainColor);
	transition: var(--transition);
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	padding: 30px;
	z-index: 1;

	&::before {
		width: 0;
		height: 0;
		top: 15px;
		left: 15px;
		content: "";
		position: absolute;
		transition: var(--transition);
		opacity: 0;
		border: {
			top: 2px solid var(--mainColor);
			left: 2px solid var(--mainColor);
		};
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 15px;
		right: 15px;
		width: 0;
		height: 0;
		transition: var(--transition);
		opacity: 0;
		border: {
			bottom: 2px solid var(--mainColor);
			right: 2px solid var(--mainColor);
		};
	}
	i {
		line-height: 1;
		font-size: 50px;
		margin-bottom: 17px;
		display: inline-block;
		color: var(--mainColor);
		transition: var(--transition);
	}
	h3 {
		font-size: 20px;
		margin-bottom: 12px;
		transition: var(--transition);

		a {
			color: var(--headingColor);

			&:hover {
				color: var(--mainColor);
			}
		}
	}
	p {
		transition: var(--transition);
	}
	.read-more {
		color: var(--headingColor);
		
		&:hover {
			color: var(--mainColor);
		}
	}
	&:hover {
		transform: translateY(-5px);
		border-color: var(--optionalColor);
		background-color: var(--optionalColor);

		h3 {
			color: var(--whiteColor);

			a {
				color: var(--whiteColor);

				&:hover {
					color: var(--mainColor);
				}
			}
		}
		p {
			color: var(--whiteColor);
		}
		.read-more {
			color: var(--whiteColor);
		}
		&::before {
			width: 50px;
			height: 50px;
			opacity: 1;
		}
		&::after {
			width: 50px;
			height: 50px;
			opacity: 1;
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-services-box {
        margin-bottom: 30px;
        
		h3 {
			font-size: 18px;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-services-box {
        margin-bottom: 30px;
        
		h3 {
			font-size: 18px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}