<div class="welcome-area pt-100">
    <div class="container">

        <div class="section-title">
            <span id="leadership">PFSA Leadership</span>
            <h2>Our Elected Leaders</h2>
        </div>

    </div>

    <div class="container">
        @for(set of leadershipSets; track $index) {
        <app-leadership-card
            [title]="set.title"
            [imgPath]="set.imgPath"
            [caption]="set.caption"
            [members]="set.members">
        </app-leadership-card>
        }
    </div>

</div>
