.single-blog-post {
	margin-bottom: 30px;
	transition: var(--transition);

	.blog-content {
		background-color: #e6f5fc;
		padding: 30px;
		transition: var(--transition);

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			margin-bottom: 22px;

			li {
				display: inline-block;
				margin: 0 10px;
				transition: var(--transition);
				position: relative;

				&::before {
					content: "";
					position: absolute;
					top: 4px;
					left: -13px;
					width: 1px;
					height: 75%;
					background-color: var(--bodyColor);
					transform: rotate(25deg);
					transition: var(--transition);
				}
				&:first-child {
					margin-left: 0;

					&::before {
						display: none;
					}
				}
				&:last-child {
					margin-right: 0;
				}
				i {
					color: var(--mainColor);
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
		h3 {
			font-size: 22px;
			margin-bottom: 15px;

			a {
				color: var(--headingColor);
			}
		}
		p {
			transition: var(--transition);
		}
		.read-more {
			color: var(--bodyColor);
			font-weight: 700;
		}
	}
	&:hover {
		transform: translateY(-5px);

		.blog-content {
			background-color: var(--optionalColor);

			ul {
				li {
					color: var(--whiteColor);

					a {
						color: var(--whiteColor);
					}
					&::before {
						background-color: var(--whiteColor);
					}
				}
			}
			h3 {
				a {
					color: var(--whiteColor);
				}
			}
			p {
				color: var(--whiteColor);
			}
			.read-more {
				color: var(--whiteColor);
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-blog-post {
		.blog-content {
            padding: 20px;
            
			h3 {
				font-size: 18px;
			}
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-blog-post {
		.blog-content {
            padding: 20px;
            
			h3 {
				font-size: 18px;
			}
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-blog-post {
		.blog-content {
            padding: 15px;
            
			h3 {
				font-size: 18px;
			}
		}
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}