.single-counter {
	background-color: var(--optionalColor);
	transition: var(--transition);
	margin-bottom: 30px;
	text-align: center;
	position: relative;
	padding: 50px 30px;
	overflow: hidden;

	p {
		color: var(--whiteColor);
		margin-bottom: 0;
		line-height: 1;
		font: {
			size: 16px;
			weight: 600;
		};
	}
	h2 {
		color: var(--whiteColor);
		margin-bottom: 15px;
		font-size: 40px;
		line-height: 1;
	}
	.counter-shape {
		position: absolute;
		top: 0;
		left: 0;
	}
	&:hover {
		transform: translateY(-5px);
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}