.page-title-area {
	z-index: 1;
	overflow: hidden;
	position: relative;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	};
	padding: {
		top: 150px;
		bottom: 150px;
	};
	&::before {
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		opacity: 0.8;
		position: absolute;
		background-color: var(--whiteColor);
	}
	.page-title-content {
		position: relative;
		margin-top: -10px;

		h2 {
			margin-bottom: 15px;
			font-size: 50px;
		}
		ul {
			padding-left: 0;
			margin-top: 10px;
			margin-bottom: -5px;
			list-style-type: none;

			li {
				display: inline-block;
				position: relative;
				padding-right: 15px;
    			margin-left: 20px;
				font: {
					weight: 600;
					size: 16px;
				};
				&::before {
					top: 6px;
					width: 1px;
					content: "";
					right: -3px;
					height: 15px;
					position: absolute;
					transform: rotate(25deg);
					background-color: var(--headingColor);
				}
				&.active {
					color: var(--mainColor);
				}
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					padding-right: 0;

					&::before {
						display: none;
					}
				}
				a {
					color: var(--headingColor);

					&:hover {
						color: var(--mainColor);
					}
				}
			}
		}
	}
	.container-fluid {
		padding: {
			left: 50px;
			right: 50px;
		};
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .page-title-area {
        padding: {
            top: 70px;
            bottom: 70px;
        };
		.page-title-content {
            text-align: center;
            
			h2 {
				margin-bottom: 10px;
				font-size: 32px;
			}
			ul {
				li {
					font-size: 15px;
				}
			}
		}
        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

	.page-title-area {
        .container-fluid {
            max-width: 540px;
        }
	}

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .page-title-area {
        padding: {
            top: 70px;
            bottom: 70px;
        };
		.page-title-content {
            text-align: center;
            
			h2 {
				margin-bottom: 10px;
				font-size: 32px;
			}
			ul {
				li {
					font-size: 15px;
				}
			}
		}
        .container-fluid {
            max-width: 720px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .page-title-area {
        padding: {
            top: 100px;
            bottom: 100px;
        };
		.page-title-content {
            text-align: center;
            
			h2 {
				font-size: 45px;
			}
		}
		.container-fluid {
            max-width: 960px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}