.testimonials-area {
    background-color: #f9fafb;
}
.testimonials-item {
    padding: 30px;
    text-align: center;
    background-color: var(--whiteColor);
    border: 1px dashed var(--mainColor);

	p {
		margin-bottom: 22px;
		position: relative;
		font-size: 20px;

		i {
            color: var(--mainColor);
			position: absolute;
			font-size: 150px;
			line-height: 1;
			opacity: 0.1;
			top: -20px;
			right: 0;
			left: 0;
		}
	}
	h3 {
		margin-bottom: 5px;
		font-size: 18px;
	}
	span {
		color: var(--bodyColor);
		font-weight: normal;
		margin-bottom: 0;
	}
}
::ng-deep {
    .testimonials {
        .owl-theme  {
            .owl-nav {
                margin-top: 0 !important;
    
                .owl-prev, .owl-next {
                    background-color: transparent;
                    transform: translateY(-35px);
                    position: absolute;
                    left: -28px;
                    margin: 0;
                    top: 50%;
    
                    i {
                        width: 40px;
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        color: var(--mainColor);
                        transition: var(--transition);
                        border: 1px solid var(--mainColor);
						background-color: var(--whiteColor);
                    }
                    &:hover {
                        i {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                .owl-next {
                    right: -28px;
                    left: auto;
                }
                [class*=owl-]:hover {
                    background-color: transparent;
                }
            }
        }
        .owl-carousel {
            .owl-item {
                img {
                    width: auto;
                    margin: 0 auto 20px;
                    border-radius: 50%;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.testimonials-item {
        padding: 20px;

		p {
			font-size: 18px;
		}
	}
    ::ng-deep {
        .testimonials {
            .owl-theme {
                .owl-nav {
                    margin-top: 25px !important;

                    .owl-prev {
                        left: 0;
                        top: unset;
                        position: relative;
                        transform: translateY(0);
                    }
                    .owl-next {
                        right: 0;
                        top: unset;
                        position: relative;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    ::ng-deep {
        .testimonials {
            .owl-theme {
                .owl-nav {
                    .owl-prev {
                        left: 0;
                        top: unset;
                    }
                    .owl-next {
                        right: 0;
                        top: unset;
                    }
                }
            }
        }
    }
	.testimonials-item {
        padding: 25px;

		p {
			font-size: 18px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    ::ng-deep {
        .testimonials {
            .owl-theme  {
                .owl-nav {
                    .owl-prev, .owl-next {
                        left: -15px;
                    }
                    .owl-next {
                        right: -15px;
                        left: auto;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    ::ng-deep {
        .testimonials {
            .owl-theme  {
                .owl-nav {
                    .owl-prev, .owl-next {
                        left: -10px;
                    }
                    .owl-next {
                        right: -10px;
                        left: auto;
                    }
                }
            }
        }
    }

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}