.choose-us-content {
	padding: 100px 50px;
	background-color: var(--optionalColor);
	
	.top-title {
		color: var(--mainColor);
		display: inline-block;
		margin-bottom: 10px;
		font: {
			size: 15px;
			weight: 600;
		};
	}
	h2 {
		font-size: 40px;
		margin-bottom: 20px;
		color: var(--whiteColor);
	}
	p {
		margin-bottom: 20px;
		color: var(--whiteColor);
	}
	ul {
		margin: 0;
		padding: 0;
		margin-bottom: 33px;
		list-style-type: none;

		li {
			position: relative;
			padding-left: 30px;
			margin-bottom: 15px;
			color: var(--whiteColor);
			font: {
				family: var(--headingFontFamily);
				weight: 600;
				size: 15px;
			};
			&:last-child {
				margin-bottom: 0;
			}
			i {
				border: 1px solid var(--mainColor);
				color: var(--mainColor);
				display: inline-block;
				border-radius: 50%;
				position: absolute;
				text-align: center;
				line-height: 18px;
				font-size: 10px;
				height: 20px;
				width: 20px;
				top: 1px;
				left: 0;
			}
		}
	}
}
.why-choose-us-img {
	height: 100%;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	};
	.video-btn {
		transform: translateY(-50%) translateX(-50%);
		background: var(--mainColor);
		margin: 30px auto 30px;
		position: relative;
		text-align: center;
		border-radius: 50%;
		position: absolute;
		height: 51px;
		width: 51px;
		padding: 0;
		z-index: 1;
		border: 0;
		left: 50%;
		top: 50%;
	
		i {
			color: var(--whiteColor);
			position: relative;
			line-height: 51px;
			font-size: 40px;
			z-index: 2;
			left: 3px;
			top: 1px;
		}
		&::before {
			top: 50%;
			left: 50%;
			content: "";
			width: 100px;
			height: 100px;
			position: absolute;
			border-radius: 33.33% 50%;
			transform: translate(-50%,-50%);
			animation: video 20s linear infinite;
			background: rgba(3, 144, 239, 0.5);
		}
		&::after {
			top: 50%;
			left: 50%;
			width: 73px;
			content: "";
			height: 73px;
			position: absolute;
			border-radius: 33.33% 50%;
			transform: translate(-50%,-50%);
			animation: video 25s linear infinite;
			background: rgba(3, 144, 239, 0.3);
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .choose-us-content {
		padding: 50px 15px;
        
		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		ul {
            margin-bottom: 15px;
            
			li {
                padding-left: 0;
                
				i {
					position: unset;
					margin-right: 5px;
				}
			}
		}
		.default-btn {
			margin-top: 15px;
		}
	}
	.why-choose-us-img {
		height: 400px;
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.choose-us-content {
		padding: 50px 35px;
        
		.top-title {
			font-size: 15px;
			margin-top: -5px;
			display: block;
		}
		h2 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		ul {
            margin-bottom: 15px;
            
			li {
                padding-left: 0;
                
				i {
					position: unset;
					margin-right: 5px;
				}
			}
		}
		.default-btn {
			margin-top: 15px;
		}
	}
	.why-choose-us-img {
		height: 400px;
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .choose-us-content {
		padding: 100px 30px;

		h2 {
			font-size: 40px;
		}
		ul {
            li {
                font-size: 13px;
            }
        }
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}