::ng-deep {
    .testimonials {
        text-align: center;
        max-width: 810px;
        margin: auto;
    
        .owl-theme  {
            .owl-nav {
                margin-top: 0 !important;
    
                .owl-prev, .owl-next {
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    background-color: transparent;
                    transform: translateY(-30px);
                    margin: 0;
    
                    i {
                        font-size: 20px;
                        color: var(--mainColor);
                        border: 1px solid var(--mainColor);
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        transition: var(--transition);
                    }
                    &:hover {
                        i {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                .owl-next {
                    right: -50px;
                    left: auto;
                }
                [class*=owl-]:hover {
                    background-color: transparent;
                }
            }
        }
        .owl-carousel {
            .owl-item {
                img {
                    width: auto;
                    margin: 0 auto 20px;
                    border-radius: 50%;
                }
            }
        }
    }
}
.testimonials-item {
	p {
		margin: 22px 50px;
   
		font-size: 20px;
		position: relative;

		i {
			position: absolute;
			top: -20px;
			left: 0;
			right: 0;
			font-size: 150px;
			opacity: 0.1;
			line-height: 1;
		}
	}
	h3 {
		margin-bottom: 5px;
		font-size: 18px;
	}
	span {
		color: var(--bodyColor);
		font-weight: normal;
		margin-bottom: 0;
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    ::ng-deep {
        .testimonials {
            .owl-theme {
                .owl-nav {
                    .owl-prev {
                        left: 0;
                        top: unset;
                    }
                    .owl-next {
                        right: 0;
                        top: unset;
                    }
                }
            }
        }
    }
	.testimonials-item {
		p {
			font-size: 18px;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    ::ng-deep {
        .testimonials {
            .owl-theme {
                .owl-nav {
                    .owl-prev {
                        left: 0;
                        top: unset;
                    }
                    .owl-next {
                        right: 0;
                        top: unset;
                    }
                }
            }
        }
    }
	.testimonials-item {
		p {
			font-size: 18px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}