.future-area {
	.section-title {
		margin-bottom: 30px;
	}
}
.single-future-box {
	padding: 30px;
	text-align: center;
	transition: var(--transition);

	i {
		line-height: 1;
		font-size: 60px;
		margin-bottom: 20px;
		display: inline-block;
		color: var(--mainColor);
	}
	h3 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	&:hover {
		background-color: #e6f5fc;
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .single-future-box {
		background-color: #e6f5fc;
        margin-bottom: 30px;
        
		h3 {
			font-size: 18px;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-future-box {
		background-color: #e6f5fc;
        margin-bottom: 30px;
        
		h3 {
			font-size: 18px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-future-box {
		padding: 20px;
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}