.sidebar-widget {
	margin-bottom: 35px;
	position: relative;
	padding: 20px;
	background-color: #f1fbfc;

	h3 {
		font-size: 20px;
		position: relative;
		display: inline-block;
		padding-bottom: 10px;
		margin: {
			top: -5px;
			bottom: 20px;
		};
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 80px;
			height: 2px;
			background-color: var(--mainColor);
		}
	}
	&.search {
		.search-form {
			background-color: var(--whiteColor);

			.search-button {
				position: absolute;
				width: 50px;
				height: 50px;
				line-height: 50px;
				background-color: var(--mainColor);
				top: 20px;
				right: 20px;
				font-size: 20px;
				color: var(--whiteColor);
				transition: var(--transition);

				&:hover {
					background-color: var(--headingColor);
				}
			}
		}
	}
	&.recent-post {
		ul {
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;
			margin-bottom: 2px;

			li {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid #eeeeee;
				position: relative;
				padding-left: 90px;

				&:last-child {
					margin-bottom: 0;
					border-bottom: none;
					padding-bottom: 0;
				}
				a {
					font-size: 16px;
					color: var(--headingColor);
					margin-bottom: 10px;
					font-weight: 600;

					&:hover {
						color: var(--mainColor);
					}
					img {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
				span {
					display: block;
					font-size: 14px;
				}
			}
		}
	}
	&.categories {
		ul {
			margin-left: 0;
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;

			li {
				position: relative;
				margin-bottom: 10px;
				font-size: 17px;
				position: relative;
				border-bottom: 1px solid #eeeeee;
				padding-bottom: 10px;

				i {
					font-size: 15px;
					margin-right: 5px;
				}
				a {
					span {
						float: right;
					}
				}
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}
			}
		}
	}
	&.tags {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				display: inline-block;
				margin-bottom: 10px;
				margin-right: 10px;

				a {
					border: 1px solid #eeeeee;
					padding: 8px 12px;
					display: inline-block;
					background-color: var(--whiteColor);

					&:hover {
						transform: translateY(-2px);
						background-color: var(--mainColor);
						color: var(--whiteColor);
						border-color: var(--mainColor);
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .sidebar-widget {
        margin-top: 30px;
    }

}

/* Min width 466px to Max width 767px */
@media only screen and (min-width: 466px) and (max-width: 767px) {

	.sidebar-widget {
		&.recent-post {
            ul {
                li {
                    height: 88px;
                }
            }
        }
	}
	
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .sidebar-widget {
        margin-top: 30px;
        
		&.recent-post {
            ul {
                li {
                    height: 88px;
                }
            }
        }
	}
    
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}