@use "../../demos/home-demo-three/faq/faq.scss" as *;
@use "../../common/get-a-quote/get-a-quote.scss" as *;

.library-details-desc {
	h3 {
		font-size: 25px;
		margin-bottom: 15px;
	}
	.content {
		margin-bottom: 30px;

		&.step-1 {
			.content {
                padding: {
                    top: 25px;
                    bottom: 25px;
                };
                span {
                    display: block;
                    font-weight: 600;
                    margin-bottom: 12px;
                }
            }
			.image {
				height: 100%;
				background: {
					position: center center;
					repeat: no-repeat;
					size: cover;
				};
			}
		}
		&.step-5 {
			p {
				margin-bottom: 20px;
			}
			ul {
				margin: 0;
				padding: 0;
				margin-bottom: 30px;
				list-style-type: none;

				li {
					position: relative;
					padding-left: 30px;
					margin-bottom: 15px;
					color: var(--headingColor);
					font: {
						weight: 600;
						size: 15px;
					};
					&:last-child {
						margin-bottom: 0;
					}
					i {
						font-size: 10px;
						border: 1px solid var(--mainColor);
						width: 20px;
						height: 20px;
						line-height: 18px;
						text-align: center;
						display: inline-block;
						border-radius: 50%;
						color: var(--mainColor);
						position: absolute;
						top: 1px;
						left: 0;
					}
				}
			}
		}
		&.step-7 {
			.faq-accordion {
				margin: {
					top: 30px;
					bottom: 30px;
				};
			}
		}
	}
}

.library-details-area .image{
  width: 100%;
  min-height: 380px;          /* pick what looks right */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;         /* optional */
}


/* Max width 767px */
@media only screen and (max-width: 767px) {

	.library-details-desc {
		h3 {
			font-size: 20px;
		}
		.content {
			&.step-1 {
				.content {
					padding: {
						top: 0;
						bottom: 0;
					};
				}
				.image {
					height: 350px;
				}
			}
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.library-details-desc {
		.content {
			&.step-1 {
				.content {
					padding: {
						top: 0;
						bottom: 0;
					};
				}
				.image {
					height: 450px;
				}
			}
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}