.get-quote-area {
    background-color: #f9fafb;

    .section-title {
        margin-bottom: 30px;
    }
}
.get-quote-tab {
	.tabs {
		margin: 0;
		padding: 0;
		line-height: 1;
		list-style: none;
		text-align: center;
		margin-bottom: 40px;

		li {
			display: inline-block;
			font-weight: 600;
			cursor: pointer;
			margin: 0 20px;

			&.active {
				border-bottom: 2px solid var(--mainColor);
				color: var(--mainColor);
				padding-bottom: 5px;
			}
		}
	}
    .get-quote-form {
        padding-bottom: 70px;

        .we-area-title {
            h3 {
                font-size: 25px;
            }
        }
        .from-title {
            margin-bottom: 10px;
            display: inline-block;
            font: {
                size: 16px;
                weight: 600;
            };
        }
        .form-group {
            margin-bottom: 30px;

            .form-select {
                height: 50px;
                cursor: pointer;
                border-radius: 0;
                box-shadow: unset;
                padding: 10px 20px;
                color: var(--blackColor);
                border: 1px solid #ebebeb;
            }
        }
        .skill-bar {
            margin-bottom: 30px;
        
            .progress-title-holder {
                position: relative;
            }
            .progress-title {
                margin-bottom: 10px;
                display: inline-block;
                font: {
                    size: 16px;
                    weight: 600;
                    family: var(--bodyFontFamily);
                };
            }
            .usd {
                margin-bottom: 10px;
                display: inline-block;
                color: var(--mainColor);
                font: {
                    size: 16px;
                    weight: 600;
                    family: var(--bodyFontFamily);
                };
            }
            .usd {
                float: right;
            }
            .progress-number-wrapper {
                width: 100%;
                z-index: 10;
                line-height: 24px;
                height: 24px;
                letter-spacing: 0px;
                text-transform: none;
                color: var(--whiteColor);
                font: {
                    size: 11px;
                    weight: 600;
                    style: normal;
                };
            }
            .progress-number-mark {
                margin-bottom: 0;
                border-radius: 3px;
                color: var(--headingColor);
                padding: 0 8px;
                position: absolute;
                bottom: 0;
                transform: translateX(-50%);
                font: {
                    size: 16px;
                    weight: 600;
                };
            }
            .down-arrow {
                border: 1px solid var(--mainColor);
                position: absolute;
                left: 50%;
                top: 0;
                height: 21px;
                transform: translateX(-50%);
            }
            .progress-content-outter {
                height: 6px;
                background-color: #d0f2f4;
            }
            .progress-content {
                height: 6px;
                background-color: var(--mainColor);
                width: 0%;
            }
            .percent {
                display: none;
            }
        }
        .default-btn {
            display: block;
            width: 100%;
            margin-bottom: 30px;
            height: 50px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.get-quote-tab {
		.tabs {
            margin-bottom: 20px;
            
			li {
				margin: 0 5px;
				margin-bottom: 10px;
			}
		}
        .get-quote-form {
            padding-bottom: 0;

            .we-area-title {
                h3 {
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .get-quote-tab {
		.tabs {
            margin-bottom: 20px;
            
			li {
				margin: 0 5px;
				margin-bottom: 10px;
			}
		}
        .get-quote-form {
            padding-bottom: 20px;
        }
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}