.future-area {
    position: relative;
    z-index: 1;
}
.single-future-box {
	padding: 30px;
    position: relative;
	text-align: center;
    margin-bottom: 30px;
	transition: var(--transition);
    border: 1px dashed var(--mainColor);

	i {
		line-height: 1;
		font-size: 60px;
		margin-bottom: 20px;
		display: inline-block;
		color: var(--mainColor);
        transition: var(--transition);
	}
	h3 {
		font-size: 20px;
		margin-bottom: 15px;
        transition: var(--transition);
	}
    p {
        transition: var(--transition);
    }
    &::before {
        top: 15px;
        opacity: 0;
        left: 15px;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        transition: var(--transition);
        border: {
            top: 2px solid var(--mainColor);
            left: 2px solid var(--mainColor);
        };
    }
    &::after {
        opacity: 0;
        content: "";
        right: 15px;
        width: 50px;
        bottom: 15px;
        height: 50px;
        position: absolute;
        transition: var(--transition);
        border: {
            bottom: 2px solid var(--mainColor);
            right: 2px solid var(--mainColor);
        };
    }
    &.active, &:hover {
        background-color: var(--optionalColor);
        border-color: var(--optionalColor);

        h3 {
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
        }
        &::before {
            opacity: 1;
            border-color: var(--whiteColor);
        }
        &::after {
            opacity: 1;
            border-color: var(--whiteColor);
        }
    }
	&:active {
        transform: translateY(-5px);
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.single-future-box {
		h3 {
			font-size: 18px;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-future-box {
		h3 {
			font-size: 18px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-future-box {
		padding: 20px;
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}