.choose-us-content {
	.top-title {
		color: var(--mainColor);
		display: inline-block;
		margin-bottom: 10px;
		font: {
			size: 15px;
			weight: 600;
		};
	}
	h2 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 30px;
	}
	.bold {
		font-weight: 600;
		margin-bottom: 15px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin-bottom: 30px;

		li {
			color: var(--headingColor);
			margin-bottom: 15px;
			position: relative;
			padding-left: 30px;
			font: {
				family: var(--headingFontFamily);
				weight: 600;
				size: 15px;
			};
			&:last-child {
				margin-bottom: 0;
			}
			i {
				left: 0;
				top: 1px;
				width: 20px;
				height: 20px;
				font-size: 10px;
				line-height: 18px;
				position: absolute;
				border-radius: 50%;
				text-align: center;
				display: inline-block;
				color: var(--mainColor);
				border: 1px solid var(--mainColor);
			}
		}
	}
}
.choose-us-three {
	margin-bottom: 30px;
	text-align: center;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.choose-us-content {
		text-align: center;
        
		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		ul {
            margin-bottom: 15px;
            
			li {
                padding-left: 0;
                
				i {
					position: unset;
					margin-right: 5px;
				}
			}
		}
		.default-btn {
			margin-top: 15px;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.choose-us-content {
		text-align: center;

		.top-title {
			margin-top: -5px;
			font-size: 15px;
			display: block;
		}
		h2 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		ul {
            margin-bottom: 15px;
            
			li {
                padding-left: 0;
                
				i {
					position: unset;
					margin-right: 5px;
				}
			}
		}
		.default-btn {
			margin-top: 15px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .choose-us-content {
		h2 {
			font-size: 40px;
		}
		ul {
            li {
                font-size: 13px;
            }
        }
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}