.user-area-style {
	position: relative;
	z-index: 1;

	.contact-form-action {
		max-width: 600px;
		border-bottom: none;
		box-shadow: var(--boxShadow);
		background-color: var(--whiteColor);
		padding: 30px;
		margin: auto;

		.account-title {
			margin-bottom: 30px;

			h2 {
				font-size: 30px;
				position: relative;
				line-height: 1;
			}
		}
		form {
			.form-condition {
				margin-bottom: 20px;

				.agree-label {
					font-weight: 600;

					a {
						color: var(--mainColor);
					}
				}
			}
			.form-group {
				margin-bottom: 30px;
			}
			.login-action {
				margin-bottom: 30px;

				.log-rem {
					display: inline-block;

					label {
						margin-bottom: 0;
					}
				}
				.forgot-login {
					display: inline-block;
				}
				.forgot-login {
					float: right;
				}
			}
			.right {
				float: right;
			}
		}
		p {
			margin-top: 25px;
			line-height: 1;

			a {
				color: var(--headingColor);

				&:hover {
					color: var(--mainColor);
				}
			}
		}
		.show {
			text-align: end;
		}
	}
	&.recover-password-area {
		.recover {
			margin: auto;
            padding: 40px;
			max-width: 700px;

			.default-btn {
				margin-bottom: 0;
				margin-top: 30px;
			}
		}
		h3 {
			font-size: 30px;
            margin-bottom: -10px;
		}
		p {
			margin-bottom: 30px;
			line-height: 1.6 !important;

			a {
				font-weight: 600;
			}
		}
		.now-register {
			float: right;
			margin: 0;
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .user-area-style {
		.contact-form-action {
            padding: 20px;
            
			&.mb-50 {
				margin-bottom: 50px;
			}
			.account-title {
				h2 {
					font-size: 20px;
				}
			}
			form {
				.login-action {
                    margin-bottom: 18px;
                    
					.forgot-login {
						float: unset;
						margin-top: 8px;
					}
					.log-rem {
						display: block;
					}
				}
				.right {
					float: unset;
					margin-top: 18px;
				}
			}
			p {
				margin-top: 4px;
			}
		}
		&.recover-password-area {
			h3 {
				font-size: 22px;
			}
			.now-register {
				float: unset;
				text-align: center;
			}
			.now-log-in {
				text-align: center;
				display: block;
			}
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .user-area-style {
		.contact-form-action {
			form {
				.login-action {
                    margin-bottom: 26px;
                    
					.log-rem {
						display: inline-block;
					}
					.forgot-login {
						float: right;
						margin-top: 0;
					}
				}
				.right {
					float: right;
					margin-top: 0;
				}
			}
			p {
				margin-top: 30px;
			}
		}
	}

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .user-area-style {
		.contact-form-action {
            padding: 30px;
            
			&.mb-50 {
				margin-bottom: 50px;
			}
			.account-title {
				h2 {
					font-size: 20px;
				}
			}
			p {
				margin-top: 27px;
			}
		}
		&.recover-password-area {
			h3 {
				font-size: 22px;
			}
			.now-register {
				float: unset;
				text-align: center;
			}
			.now-log-in {
				text-align: center;
				display: block;
			}
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .user-area-style {
		.contact-form-action {
			.account-title {
				h2 {
					font-size: 25px;
				}
			}
		}
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}