.get-quote-tab {
    padding: 100px 50px 70px;
    background-color: var(--optionalColor);

    .section-title {
        margin-bottom: 30px;

        h2 {
            font-size: 36px;
            color: var(--whiteColor);
        }
    }
	.tabs {
		margin: 0;
		padding: 0;
		line-height: 1;
		list-style: none;
		text-align: center;
		margin-bottom: 40px;

		li {
            color: var(--whiteColor);
			display: inline-block;
			font-weight: 600;
			cursor: pointer;
			margin: 0 10px;

			&.active {
				border-bottom: 2px solid var(--mainColor);
				color: var(--mainColor);
				padding-bottom: 5px;
			}
		}
	}
}
.get-quote-form {
	.we-area-title {
		h3 {
			font-size: 25px;
            color: var(--whiteColor);
		}
	}
	.from-title {
		margin-bottom: 10px;
		display: inline-block;
        color: var(--whiteColor);
		font: {
			size: 16px;
			weight: 600;
		};
	}
	.form-group {
		margin-bottom: 30px;

        .form-control {
            background-color: var(--whiteColor);
        }
        .form-select {
            height: 50px;
            cursor: pointer;
            border-radius: 0;
            box-shadow: unset;
            padding: 10px 20px;
            color: var(--blackColor);
            border: 1px solid #ebebeb;
            background-color: var(--whiteColor);
        }
	}
    .skill-bar {
        margin-bottom: 30px;
    
        .progress-title-holder {
            position: relative;
        }
        .progress-title {
            margin-bottom: 10px;
            display: inline-block;
            color: var(--whiteColor);
            font: {
                size: 16px;
                weight: 600;
                family: var(--bodyFontFamily);
            };
        }
        .usd {
            margin-bottom: 10px;
            display: inline-block;
            color: var(--mainColor);
            font: {
                size: 16px;
                weight: 600;
                family: var(--bodyFontFamily);
            };
        }
        .usd {
            float: right;
        }
        .progress-number-wrapper {
            width: 100%;
            z-index: 10;
            height: 24px;
            line-height: 24px;
            letter-spacing: 0;
            text-transform: none;
            color: var(--whiteColor);
            font: {
                size: 11px;
                weight: 600;
                style: normal;
            };
        }
        .progress-number-mark {
            bottom: 0;
            padding: 0 8px;
            margin-bottom: 0;
            border-radius: 3px;
            position: absolute;
            color: var(--headingColor);
            transform: translateX(-50%);
            font: {
                size: 16px;
                weight: 600;
            };
        }
        .down-arrow {
            border: 1px solid var(--mainColor);
            transform: translateX(-50%);
            position: absolute;
            height: 21px;
            left: 50%;
            top: 0;
        }
        .progress-content-outter {
            height: 6px;
            background-color: #3b4d6b;
        }
        .progress-content {
            background-color: var(--mainColor);
            height: 6px;
            width: 0%;
        }
        .percent {
            display: none;
        }
    }
	.default-btn {
		margin-bottom: 30px;
		display: block;
		height: 50px;
		width: 100%;
	}
}
.get-quote-img {
    height: 100%;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.get-quote-tab {
        padding: 50px 15px 20px;

        .section-title {
            h2 {
                font-size: 25px;
            }
        }
		.tabs {
            margin-bottom: 20px;
            
			li {
				margin: 0 10px;
				margin-bottom: 10px;
			}
		}
	}
    .get-quote-form {
        .we-area-title {
            h3 {
                text-align: center;
                font-size: 20px;
            }
        }
    }
    .get-quote-img {
        height: 450px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .get-quote-tab {
        padding: 50px 35px 20px;

		.tabs {
            margin-bottom: 20px;
            
			li {
				margin: 0 10px;
				margin-bottom: 10px;
			}
		}
	}
    .get-quote-img {
        height: 450px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .get-quote-tab {
        padding: 100px 30px 70px;
    }

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}