.testimonials-item {
	p {
        color: var(--whiteColor);
		margin-bottom: 22px;
		position: relative;
		font-size: 20px;

		i {
			position: absolute;
			font-size: 150px;
			line-height: 1;
			opacity: 0.1;
			top: -20px;
			right: 0;
			left: 0;
		}
	}
	h3 {
        color: var(--whiteColor);
		margin-bottom: 5px;
		font-size: 18px;
	}
	span {
        color: var(--whiteColor);
		font-weight: normal;
		margin-bottom: 0;
	}
    .testimonials-content {
        padding: 50px;
    }
}
.testimonials-img {
    height: 100%;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
}
.testimonials-slides {
    background-color: var(--optionalColor);
}
::ng-deep {
    .testimonials-slides {
        .owl-theme {
            .owl-nav {
                margin-top: 0 !important;
    
                .owl-prev, .owl-next {
                    background-color: transparent;
                    transform: translateY(-20px);
                    position: absolute;
                    left: -30px;
                    margin: 0;
                    top: 50%;
    
                    i {
                        width: 40px;
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        color: var(--mainColor);
                        transition: var(--transition);
                        border: 1px solid var(--mainColor);
						background-color: var(--whiteColor);
                    }
                    &:hover {
                        i {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                .owl-next {
                    right: -30px;
                    left: auto;
                }
                [class*=owl-] {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
        .owl-carousel {
            .owl-item {
                img {
                    width: auto;
                    margin: 0 auto 20px;
                    border-radius: 50%;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    ::ng-deep {
        .testimonials-slides {
            .owl-theme {
                .owl-nav {
                    .owl-prev {
                        left: 0;
                        top: unset;
                    }
                    .owl-next {
                        right: 0;
                        top: unset;
                    }
                }
            }
        }
    }
	.testimonials-item {
		p {
			font-size: 16px;
		}
        .testimonials-content {
            padding: 20px 20px 30px;
        }
	}
    .testimonials-img {
        height: 200px;
        margin-top: 20px;
        background-size: contain;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    ::ng-deep {
        .testimonials-slides {
            .owl-theme {
                .owl-nav {
                    .owl-prev {
                        left: 0;
                        top: unset;
                    }
                    .owl-next {
                        right: 0;
                        top: unset;
                    }
                }
            }
        }
    }
	.testimonials-item {
        padding-top: 40px;

		p {
			font-size: 18px;
		}
        .testimonials-content {
            padding: 20px 20px 40px;
        }
	}
    .testimonials-img {
        height: 300px;
        background-size: contain;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    ::ng-deep {
        .testimonials-slides {
            .owl-theme {
                .owl-nav {
                    .owl-prev, .owl-next {
                        left: 0;
                    }
                    .owl-next {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    
    ::ng-deep {
        .testimonials-slides {
            .owl-theme {
                .owl-nav {
                    .owl-prev, .owl-next {
                        left: 0;
                    }
                    .owl-next {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}