.hero-slider-area {
	position: relative;
	z-index: 1;

	.container-fluid {
		padding: {
			left: 50px;
			right: 50px;
		};
	}
	ul {
		display: inline-flex;
		flex-flow: column nowrap;
		position: absolute;
		top: 20%;
		left: -10px;
		z-index: 1;
		list-style-type: none;
		padding: 0;
		margin: 0;
		transform: rotate(-180deg);

		li {   
			margin: 35px 0;

			a {
				display: block;
				transform: rotate(90deg);
				color: var(--headingColor);
				text-transform: capitalize;
				font: {
					size: 16px;
					weight: 500;
				};
				&:hover {
					color: var(--mainColor);
				}
			}
		}
	}
}
.hero-slider-item {
	height: 740px;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	};
}
.hero-slider-content {
	max-width: 880px;
	margin-top: -100px;

	.top-title {
		color: var(--mainColor);
		font-weight: 600;
		display: block;
		margin-bottom: 10px;
	}
	h1 {
		font-size: 70px;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 30px;
		max-width: 600px;
	}
}
::ng-deep {
    .hero-slider-area {
        .owl-nav {
            margin-top: 0 !important;
            
            .owl-prev {
                position: absolute;
                left: 15px;
                top: 20px;
                margin: 0;
                background-color: transparent;
                padding: 0;
    
                i {
                    font-size: 20px;
                    color: var(--mainColor);
                    border: 1px solid var(--mainColor);
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    display: inline-block;
                    transition: var(--transition);
                }
                &:hover {
                    i {
                        background-color: var(--mainColor);
                        color: var(--whiteColor);
                    }
                }
            }
            .owl-next {
                background-color: transparent;
                position: absolute;
                right: 15px;
                padding: 0;
                top: 20px;
                margin: 0;
                
                i {
                    font-size: 20px;
                    color: var(--mainColor);
                    border: 1px solid var(--mainColor);
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50%;
                    display: inline-block;
                    transition: var(--transition);
                }
                &:hover {
                    i {
                        background-color: var(--mainColor);
                        color: var(--whiteColor);
                    }
                }
            }
            [class*=owl-]:hover {
                background-color: transparent;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .hero-slider-area {
		ul {
			display: none;
		}
	}
	.hero-slider-item {
		position: relative;
		height: auto;
        z-index: 1;
        padding: {
            top: 70px;
            bottom: 70px;
        };
		&::before {
			top: 0;
			left: 0;
			content: "";
			width: 100%;
			z-index: -1;
			height: 100%;
			opacity: 0.7;
			position: absolute;
			background-color: var(--whiteColor);
		}
		.container-fluid {
			padding-left: calc(var(--bs-gutter-x) * 0.5);
			padding-right: calc(var(--bs-gutter-x) * 0.5);
		}
	}
	.hero-slider-content {
		text-align: center;
        margin: auto;
        
		h1 {
			font-size: 30px;
		}
	}
    ::ng-deep {
        .hero-slider-area {
            .thumbs-wrap {
                display: none;
            }
            .owl-nav {
                margin-top: 0 !important;
                
                .owl-prev {
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    top: auto;
                    margin: 0;
                    
                    i {
                        font-size: 20px;
                        color: var(--mainColor);
                        border: 1px solid var(--mainColor);
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        transition: var(--transition);
                    }
                    &:hover {
                        i {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                .owl-next {
                    position: absolute;
                    top: auto;
                    right: 20px;
                    bottom: 20px;
                    margin: 0;
                    
                    i {
                        font-size: 20px;
                        color: var(--mainColor);
                        border: 1px solid var(--mainColor);
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        transition: var(--transition);
                    }
                    &:hover {
                        i {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                [class*=owl-]:hover {
                    background-color: transparent;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .hero-slider-area {
		.container-fluid {
			max-width: 540px;
		}
	}

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .hero-slider-area {
		ul {
			display: none;
		}
	}
	.hero-slider-item {
		height: auto;
		position: relative;
        z-index: 1;
        padding: {
            top: 70px;
            bottom: 70px;
        };
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--whiteColor);
			opacity: 0.7;
			z-index: -1;
		}
		.container-fluid {
			padding-left: calc(var(--bs-gutter-x) * 0.5);
			padding-right: calc(var(--bs-gutter-x) * 0.5);
			max-width: 720px;
		}
	}
	.hero-slider-content {
		text-align: center;
        margin: auto;
        
		h1 {
			font-size: 30px;
		}
	}
    ::ng-deep {
        .hero-slider-area {
            .thumbs-wrap {
                display: none;
            }
            .owl-nav {
                margin-top: 0 !important;
                
                .owl-prev {
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    margin: 0;
                    
                    i {
                        font-size: 20px;
                        color: var(--mainColor);
                        border: 1px solid var(--mainColor);
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        transition: var(--transition);
                    }
                    &:hover {
                        i {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                .owl-next {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    margin: 0;
                    
                    i {
                        font-size: 20px;
                        color: var(--mainColor);
                        border: 1px solid var(--mainColor);
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 50%;
                        display: inline-block;
                        transition: var(--transition);
                    }
                    &:hover {
                        i {
                            background-color: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                [class*=owl-]:hover {
                    background-color: transparent;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .hero-slider-area {
		ul {
			top: 18%;
		}
	}
	.hero-slider-item {
		position: relative;
        z-index: 1;
        
		&::before {
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			content: "";
			opacity: 0.7;
			height: 100%;
			position: absolute;
			background-color: var(--whiteColor);
		}
		.container-fluid {
			max-width: 960px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
		}
	}
    ::ng-deep {
        .hero-slider-area {
            .thumbs-wrap {
                transform: translateY(-172px);
                right: 75px;
            }
        }
    }

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {

    .hero-slider-area {
		ul {
			top: 22%;
			left: 114px;
		}
	}
    .hero-slider-item {
		height: 801px;
	}

}