.faq-area {
	.container-fluid {
		max-width: 100%;
	}
}
.faq-content {
	max-width: 600px;
	margin-left: 60px;

	.top-title {
		color: var(--mainColor);
		display: inline-block;
		margin-bottom: 10px;
		font: {
			size: 16px;
			weight: 600;
		};
	}
	h2 {
		font-size: 40px;
		margin-bottom: 25px;
	}
	
}
.faq-img {
	height: 100%;
	position: relative;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	};
	.faq-video {
		background-color: rgba(10, 32, 70, 0.9);
		padding: 30px;
		text-align: center;
		display: inline-block;
		max-width: 280px;
		position: absolute;
		bottom: 30px;
		right: -30px;
		
		span {
			font-size: 20px;
			display: inline-block;
			color: var(--whiteColor);
		}
	}
}
.video-button {
	width: 51px;
	height: 51px;
	text-align: center;
	border-radius: 50%;
	background: var(--mainColor);
	position: relative;
	margin: 30px auto 30px;
	z-index: 1;

	i {
		color: var(--whiteColor);
		font-size: 40px;
		line-height: 51px;
		position: relative;
		left: 3px;
		top: 1px;
	}
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		background: rgba(18, 190, 200, 0.5);
		width: 100px;
		height: 100px;
		border-radius: 33.33% 50%;
		transform: translate(-50%,-50%);
		animation: video 20s linear infinite;
	}
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		background: rgba(18, 190, 200, 0.3);
		height: 73px;
		width: 73px;
		border-radius: 33.33% 50%;
		transform: translate(-50%,-50%);
		animation: video 25s linear infinite;
	}
}
.faq-accordion {
	.accordion {
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;

		.accordion-item {
			border: 0;
			display: block;
			border-radius: 5px;
			margin-bottom: 20px;
			background-color: transparent;

			&:last-child {
				margin-bottom: 0;
			}
		}
		.accordion-title {
			background-color: transparent;
			color: var(--headingColor);
			text-decoration: none;
			margin-bottom: 10px;
			padding-left: 30px;
			position: relative;
			text-align: start;
			display: block;
			font: {
				size: 16px;
				weight: 600;
			};
			i {
				left: 0;
				top: -1px;
				font-size: 25px;
				position: absolute;
				color: var(--mainColor);
				transition: var(--transition);
			}
			&.open {
				i {
					transform: rotate(180deg);

					&::before {
						content: "\eb8b";
					}
				}
			}
		}
		.accordion-content {
			display: none;
			position: relative;
			padding-left: 30px;

			p {
				line-height: 1.8;
			}
			&.open {
				display: block;
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .faq-area {
		.col-lg-6.p-0 {
			padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
			padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
		}
	}
	.faq-content {
        margin-left: 0;
        
		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
		}
	}
	.faq-img {
        height: 400px;
        
		.faq-video {
			max-width: 320px;
			padding: 30px;
			margin: auto;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .faq-area {
		.container-fluid {
			max-width: 540px;
		}
	}

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .faq-area {
		.container-fluid {
			max-width: 720px;
		}
		.col-lg-6.p-0 {
			padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
			padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
		}
	}
	.faq-content {
        margin-left: 0;
        
		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
		}
	}
	.faq-img {
        height: 400px;
        
		.faq-video {
			padding: 30px;
			max-width: 320px;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .faq-area {
		.container-fluid {
            max-width: 960px;
            
			.col-lg-6.p-0 {
				padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
				padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
			}
		}
	}
    .faq-img {
        .faq-video {
            right: 30px;
        }
    }
	.faq-content {
		margin-left: 0;
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}