.faq-content {
	.top-title {
		color: var(--mainColor);
		display: inline-block;
		margin-bottom: 10px;
		font: {
			size: 16px;
			weight: 600;
		};
	}
	h2 {
		font-size: 40px;
		margin-bottom: 25px;
	}
	
}
.faq-accordion {
	.accordion {
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;

		.accordion-item {
			border: 0;
			display: block;
			border-radius: 5px;
			margin-bottom: 20px;
			background-color: transparent;

			&:last-child {
				margin-bottom: 0;
			}
		}
		.accordion-title {
			background-color: transparent;
			color: var(--headingColor);
			text-decoration: none;
			margin-bottom: 10px;
			padding-left: 30px;
			position: relative;
			text-align: start;
			display: block;
			font: {
				size: 16px;
				weight: 600;
			};
			i {
				left: 0;
				top: -1px;
				font-size: 25px;
				position: absolute;
				color: var(--mainColor);
				transition: var(--transition);
			}
			&.open {
				i {
					transform: rotate(180deg);

					&::before {
						content: "\eb8b";
					}
				}
			}
		}
		.accordion-content {
			display: none;
			position: relative;
			padding-left: 30px;

			p {
				line-height: 1.8;
			}
			&.open {
				display: block;
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.faq-content {
		margin-bottom: 30px;
        
		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.faq-content {
        margin-bottom: 30px;
        
		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}