.error-area {
    text-align: center;
    position: relative;
	z-index: 1;

    .error-content {
        z-index: 1;
		position: relative;

		h1 {
			font-size: 180px;
			line-height: 1;
			font-weight: 700;
			color: var(--mainColor);
			margin-top: 0;
			margin-bottom: 20px;

			.a {
				display: inline-block;

				i {
					color: var(--mainColor);
				}
			}
			.red {
				color: #ff0000;
				display: inline-block;
				transform: rotate(45deg);
			}
			.b {
				display: inline-block;
			}
		}
        h3 {
            margin: 30px 0 0;
			position: relative;
			color: var(--mainColor);
			font-weight: 600;
        }
        p {
			margin: 20px 0 20px;
			font-size: 19px;
			color: var(--mainColor);

			&.sub-text {
				font-size: 17px;
				opacity: 0.8;
				margin-top: 10px;
			}
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .error-area {
        .error-content {
            p {
                margin: 15px 0 20px;
                font-size: 15px;

				&.sub-text {
					font-size: 14px;
				}
            }
            h1 {
				font-size: 80px;
				margin-top: 0;
            }
			h3 {
				font-size: 20px;
			}
        }
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .error-area {
        .error-content {
            p {
                margin: 15px 0 20px;
                font-size: 17px;

				&.sub-text {
					font-size: 15px;
				}
            }
            h1 {
				font-size: 120px;
				margin-top: 0;
            }
			h3 {
				font-size: 24px;
			}
        }
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}