.banner-area {
	z-index: 1;
    padding-top: 100px;
	position: relative;
    background-color: #f9fafb;
}
.banner-content {
    margin: 0 auto 30px;
    text-align: center;
    max-width: 1080px;
	overflow: hidden;

	span {
		display: block;
		margin-bottom: 10px;
		color: var(--mainColor);
	}
	h1 {
        font-size: 72px;
		margin-bottom: 30px;
		color: var(--headingColor);
	}
	p {
		font-size: 17px;
		margin-bottom: 40px;
		color: var(--headingColor);
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .banner-area {
        padding-top: 50px;
	}
	.banner-content {
		h1 {
            font-size: 30px;
			margin-bottom: 12px;
		}
		p {
			margin-bottom: 25px;
		}
	}

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .banner-area {
        padding-top: 50px;
	}
	.banner-content {
		h1 {
			font-size: 30px;
			margin-bottom: 12px;
		}
		p {
			margin-bottom: 25px;
		}
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.banner-content {
		h1 {
            font-size: 65px;
		}
		p {
			font-size: 16px;
		}
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}