.scholarships-area {
    padding: 40px 0;

    .container-fluid {
        max-width: 100%;
    }
}

.scholarships-content {
    max-width: 650px;
    margin-left: auto;
    margin-right: 60px;

    .top-title {
        color: var(--mainColor);
        display: inline-block;
        margin-bottom: 10px;
        font: {
            size: 16px;
            weight: 600;
        };
    }

    h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .some-bold {
        font-weight: 600;
    }

    .scholarship-types {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .type-card {
        display: flex;
        align-items: flex-start;
        padding: 15px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

        .type-icon {
            width: 50px;
            height: 50px;
            min-width: 50px;
            background: var(--mainColor);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;

            i {
                font-size: 24px;
                color: #fff;
            }
        }

        .type-content {
            h4 {
                font-size: 16px;
                margin-bottom: 5px;
            }

            p {
                font-size: 14px;
                color: #666;
                margin-bottom: 0;
                line-height: 1.5;
            }
        }
    }

    .requirements-box {
        margin-top: 25px;
        padding: 20px;
        background: #f8f9fa;
        border-radius: 8px;
        border-left: 4px solid var(--mainColor);

        h4 {
            font-size: 16px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            gap: 8px;

            i {
                color: var(--mainColor);
                font-size: 20px;
            }
        }

        ul {
            margin: 0;
            padding-left: 20px;

            li {
                font-size: 14px;
                color: #555;
                margin-bottom: 8px;
                line-height: 1.5;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .deadline-info {
        margin-top: 25px;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        background: var(--mainColor);
        border-radius: 8px;
        color: #fff;

        i {
            font-size: 32px;
            margin-right: 15px;
        }

        strong {
            display: block;
            font-size: 16px;
        }

        p {
            margin: 0;
            font-size: 14px;
            opacity: 0.9;
        }
    }
}

.scholarships-img {
    height: 100%;
    min-height: 700px;
    position: relative;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };

    .trusted {
        background-color: rgba(48, 51, 56, 0.9);
        padding: 30px;
        text-align: center;
        display: inline-block;
        max-width: 320px;
        position: absolute;
        bottom: 30px;
        left: -30px;

        span {
            line-height: 1;
            display: inline-block;
            margin-bottom: 15px;
            color: var(--whiteColor);
            font: {
                size: 50px;
                family: var(--headingFontFamily);
            };
        }

        h3 {
            font-size: 18px;
            color: var(--whiteColor);
        }

        p {
            color: var(--whiteColor);
            margin-bottom: 0;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .scholarships-area {
        padding-top: 50px;

        .col-lg-6.p-0 {
            padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
            padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
        }
    }

    .scholarships-img {
        height: 400px;
        min-height: 400px;

        .trusted {
            margin: auto;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .scholarships-content {
        text-align: center;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 50px 15px;

        .top-title {
            font-size: 15px;
        }

        h2 {
            font-size: 25px;
            margin-bottom: 20px;
        }

        .type-card {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .type-icon {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        .requirements-box {
            text-align: left;
        }

        .deadline-info {
            flex-direction: column;
            text-align: center;

            i {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .scholarships-area {
        .container-fluid {
            max-width: 540px;
        }
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .scholarships-area {
        padding-top: 50px;

        .container-fluid {
            max-width: 720px;
        }

        .col-lg-6.p-0 {
            padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
            padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
        }
    }

    .scholarships-img {
        height: 400px;
        min-height: 400px;

        .trusted {
            margin: auto;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .scholarships-content {
        text-align: center;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;

        .top-title {
            font-size: 15px;
        }

        h2 {
            font-size: 25px;
            margin-bottom: 20px;
        }

        .type-card {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .type-icon {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        .requirements-box {
            text-align: left;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .scholarships-content {
        margin-right: 0;
    }

    .scholarships-img {
        .trusted {
            bottom: 30px;
            left: 30px;
        }
    }
}
