@use "../../demos/home-demo-three/faq/faq.scss" as *;
@use "../../common/get-a-quote/get-a-quote.scss" as *;

.savings-product-card {
	background: #f8f9fa;
	border-radius: 10px;
	border-top: 4px solid var(--mainColor);
	transition: all 0.3s ease;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	}

	.icon-box {
		width: 70px;
		height: 70px;
		background: var(--mainColor);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			font-size: 35px;
			color: #fff;
		}
	}

	h4 {
		font-size: 20px;
		margin-bottom: 10px;
		color: var(--headingColor);
	}

	.tagline {
		color: var(--mainColor);
		margin-bottom: 15px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			padding-left: 30px;
			margin-bottom: 10px;
			color: var(--headingColor);
			font: {
				weight: 500;
				size: 14px;
			};

			&:last-child {
				margin-bottom: 0;
			}

			i {
				font-size: 10px;
				border: 1px solid var(--mainColor);
				width: 20px;
				height: 20px;
				line-height: 18px;
				text-align: center;
				display: inline-block;
				border-radius: 50%;
				color: var(--mainColor);
				position: absolute;
				top: 1px;
				left: 0;
			}
		}
	}
}

.info-box {
	background: #f8f9fa;
	border-radius: 10px;
	border-left: 4px solid var(--mainColor);

	h5 {
		font-size: 18px;
		margin-bottom: 10px;
		color: var(--headingColor);
	}
}

.service-details-desc {
	h3 {
		font-size: 25px;
		margin-bottom: 15px;
	}
	h5 {
		font-size: 18px;
		margin-bottom: 15px;
		color: var(--headingColor);
	}
	.content {
		margin-bottom: 30px;

		&.step-1 {
			.content {
                padding: {
                    top: 25px;
                    bottom: 25px;
                };
                span {
                    display: block;
                    font-weight: 600;
                    margin-bottom: 12px;
                }
            }
			.image {
				height: 100%;
				min-height: 300px;
				background: {
					position: center center;
					repeat: no-repeat;
					size: cover;
				};
				border-radius: 10px;
			}
		}
		&.step-4, &.step-6 {
			ul {
				margin: 0;
				padding: 0;
				margin-bottom: 20px;
				list-style-type: none;

				li {
					position: relative;
					padding-left: 30px;
					margin-bottom: 15px;
					color: var(--headingColor);
					font: {
						weight: 600;
						size: 15px;
					};
					&:last-child {
						margin-bottom: 0;
					}
					i {
						font-size: 10px;
						border: 1px solid var(--mainColor);
						width: 20px;
						height: 20px;
						line-height: 18px;
						text-align: center;
						display: inline-block;
						border-radius: 50%;
						color: var(--mainColor);
						position: absolute;
						top: 1px;
						left: 0;
					}
				}
			}
		}
		&.step-8 {
			.faq-accordion {
				margin: {
					top: 30px;
					bottom: 30px;
				};
			}
		}
	}
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

	.service-details-desc {
		h3 {
			font-size: 20px;
		}
		.content {
			&.step-1 {
				.content {
					padding: {
						top: 0;
						bottom: 0;
					};
				}
				.image {
					height: 350px;
					margin-top: 20px;
				}
			}
		}
	}

	.savings-product-card {
		.icon-box {
			width: 60px;
			height: 60px;

			i {
				font-size: 28px;
			}
		}

		h4 {
			font-size: 18px;
		}
	}

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.service-details-desc {
		.content {
			&.step-1 {
				.content {
					padding: {
						top: 0;
						bottom: 0;
					};
				}
				.image {
					height: 450px;
					margin-top: 20px;
				}
			}
		}
	}

}
