.why-choose-us-area {
	.col-lg-6 {
		position: relative;
	}
	.container-fluid {
		max-width: 100%;
	}
}
.choose-us-content {
	max-width: 615px;
	margin-left: auto;
	padding-right: 60px;
	
	.top-title {
		color: var(--mainColor);
		display: inline-block;
		margin-bottom: 10px;
		font: {
			size: 15px;
			weight: 600;
		};
	}
	h2 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 20px;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		margin-bottom: 33px;

		li {
			margin-bottom: 15px;
			position: relative;
			padding-left: 30px;
			color: var(--headingColor);
			font: {
				family: var(--headingFontFamily);
				weight: 600;
				size: 15px;
			};
			&:last-child {
				margin-bottom: 0;
			}
			i {
				font-size: 10px;
				border: 1px solid var(--mainColor);
				width: 20px;
				height: 20px;
				line-height: 18px;
				text-align: center;
				display: inline-block;
				border-radius: 50%;
				color: var(--mainColor);
				position: absolute;
				top: 1px;
				left: 0;
			}
		}
	}
}
.why-choose-us-img {
	height: 703px;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	};
}
::ng-deep {
    .why-choose-slider-content {
        position: relative;
    
        .success {
            background-color: rgba(10, 32, 70, 0.9);
            padding: 30px;
            text-align: center;
            display: inline-block;
            max-width: 320px;
            position: absolute;
            bottom: 30px;
            left: -30px;
            z-index: 1;
    
            span {
                line-height: 1;
                display: inline-block;
                margin-bottom: 15px;
                color: var(--whiteColor);
                font: {
                    size: 50px;
                    family: var(--headingFontFamily);
                };
            }
            h3 {
                font-size: 18px;
                color: var(--whiteColor);
                margin-bottom: 0;
            }
        }
        .owl-theme {
            .owl-nav {
                &.disabled+.owl-dots {
                    position: absolute;
                    margin-top: 0;
                    bottom: 20px;
                    right: 0;
                    left: 0;
    
                    .owl-dot {
                        span {
                            background-color: var(--whiteColor);
                            transition: var(--transition);
                        }
                        &:hover {
                            span {
                                background-color: var(--mainColor);
                            }
                        }
                        &.active {
                            span {
                                background-color: var(--mainColor);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .why-choose-us-area {
		.col-lg-6.p-0 {
			padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
			padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
		}
	}
    .choose-us-content {
		margin-left: 0;
		max-width: 100%;
        padding-right: 0;
		text-align: center;
        
		.top-title {
			font-size: 15px;
		}
		h2 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		ul {
            margin-bottom: 15px;
            
			li {
                padding-left: 0;
                
				i {
					position: unset;
					margin-right: 5px;
				}
			}
		}
		.default-btn {
			margin-top: 15px;
		}
	}
	.why-choose-us-img {
		height: 400px;
	}
	::ng-deep {
        .why-choose-slider-content {
            .success {
                margin: auto;
                bottom: 0;
                right: 0;
                left: 0;
            }
        }
		.owl-theme {
			.owl-nav.disabled + .owl-dots {
				top: 15px;
				bottom: unset;
			}
		}
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .why-choose-us-area {
		.container-fluid {
			max-width: 540px;
		}
	}

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .why-choose-us-area {
		.container-fluid {
			max-width: 720px;
		}
		.col-lg-6.p-0 {
			padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
			padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
		}
	}
	.why-choose-slider-content {
		.success {
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
		}
	}
	.choose-us-content {
		text-align: center;
		max-width: 100%;
		margin-left: 0;
        padding-right: 0;
        
		.top-title {
			font-size: 15px;
			margin-top: -5px;
			display: block;
		}
		h2 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		ul {
            margin-bottom: 15px;
            
			li {
                padding-left: 0;
                
				i {
					position: unset;
					margin-right: 5px;
				}
			}
		}
		.default-btn {
			margin-top: 15px;
		}
	}
	.why-choose-us-img {
		height: 400px;
	}

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .why-choose-us-area {
		.container-fluid {
            max-width: 960px;
            
			.col-lg-6.p-0 {
				padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
				padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
			}
		}
	}
    .choose-us-content {
        padding-right: 0;
        
		h2 {
			font-size: 40px;
		}
		ul {
            li {
                font-size: 13px;
            }
        }
	}
	.why-choose-us-img {
		height: 719px;
	}

}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {}